@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    display: grid;
    place-items: center;
    background-color: #eee;
    color: #246;
    padding: 3em 1em;
}

.todo {
    width: 100%;
    max-width: 420px;
    background-color: #ddd;
    padding: 2em;
    box-shadow: 1px 2px 4px #0003;
}

h1 {
    margin: 0 auto;
    caret-color: transparent;
}

ul {
    padding-inline-start: 1.5em;
    font-weight: 400;
    list-style-type: lower-greek;
}

li ::before{
    content: "> ";
}

ul ul li ::before {
    content: ">> ";
}

li {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-inline-start: 0.5em;
    padding-top: 1.5em;
    border-bottom: 1px solid #48b2;
    cursor: default;
    transition: color 0.4s;
}

li #button_layout {
    color: gray;
    filter: brightness(1.2);
}

li #button_layout::before {
    content: none;
}

li:hover {
    color: #0096ff;
}

li:hover #button_layout {
    color: gray;
    filter: brightness(1.2);
}

.task {
    text-decoration-line: line-through;
}

#button_layout {
    width: 70px;
    display: flex;
    justify-content: space-evenly;
}

i:hover {
    color: inherit;
    filter: brightness(0.3);
}

#task_input {
    text-decoration: none;
    background-color: #ddd;
    border: none;
    margin-top: 10px;
    padding-right: 12px;
    font-size: 20px;
    width: 100%;
    max-width: 300px;
    outline-width: 0;

}

.task_text {
    outline-width: 0;
}

hr {
    border: none;
    border-top: 2px dotted grey;
    caret-color: transparent;
}

